.box{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    border-style: solid;
    border-color: darkgrey;
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    background-color: white;
    font-family: monospace;
    font-size: 15px;
}