.App {
  text-align: center;
  background: linear-gradient(to right, #000000, #00ff00, #000000);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.boxtitle{
  display: 'flex';
  justify-content: center;
  list-style: none;
  padding-top: 25px;
}
.title{
  font-family: 'Tahoma';
  font-size: 25px;
  text-align-last: left;
}
.link{
  text-decoration: none;
  color: white;
  font-family: monospace;
}